.obsidian\workspace.json
00_WIP/00_PublicationDocuments
00_WIP/00_PublicationDocuments/Life Cycle Assessment_ Theory and Practice -- Michael Z_ Hauschild,Ralph K_ Rosenbaum,Stig Irving Olsen -- 1, 2018 -- Hauschild, Michael, Olsen, Stig -- 9783319564746 -- 1236b9e05bedadbea76c0a21496f4897 -- Anna’s .pdf
00_WIP/00_PublicationDocuments/LIFE CYCLE ASSESSMENT -- KATHRINA SIMONEN, Simonen, Kathrina, Kathrina Simonen -- 2014, 2014 -- ROUTLEDGE -- 9780415702416 -- b226a4eeda82cc406e2cf8533940f398 -- Anna’s Archive.pdf
00_WIP/00_PublicationDocuments/LIFE CYCLE ASSESSMENT -- KATHRINA SIMONEN.pdf
00_WIP/00_PublicationDocuments/Life Cycle Assessment_ Theory and Practice -- Michael Z_ Hauschild,Ralph K_ Rosenbaum,Stig Irving Olsen .pdf